<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="cogniman_gazebo">

 <gazebo reference="joint_6_t-tool0">
    <sensor name="force_torque_sensor" type="force_torque">
      <always_on>true</always_on>
      <update_rate>50</update_rate>
      <visualize>true</visualize>
      <topic>tool0/force_torque</topic>
      <force_torque>
        <frame>sensor</frame>
        <measure_direction>parent_to_child</measure_direction>
      </force_torque>
    </sensor>
  </gazebo>


</robot>