<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find xacro_materials)/urdf/materials.xacro"/>

    <link name="plateforme">
        <visual>
            <geometry>
                <mesh filename="package://plateforme_description/mesh/visual/plateform.stl"/>
            </geometry>
            <xacro:white/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://plateforme_description/mesh/collision/plateform_collision.stl"/>
            </geometry>
        </collision>
    </link>
</robot>