<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="equerre" params="prefix">
    <xacro:include filename="$(find xacro_inertia)/urdf/inertia_table.xacro"/>
    <xacro:include filename="$(find xacro_materials)/urdf/materials.xacro"/>
    
    <link name="equerre_${prefix}">
        <visual>
            <geometry>
                <mesh filename="package://positionning_tool/mesh/visual/equerre.stl"/>
            </geometry>
            <xacro:red/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://positionning_tool/mesh/collision/equerre_collision.stl"/>
            </geometry>
        </collision>
        <inertial>
          <xacro:box_inertia m="0.5" x="0.05" y="0.05" z="0.05"/>
        </inertial>

    </link>
    </xacro:macro>
</robot>