<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="clamp" params="prefix">

    <xacro:include filename="$(find xacro_materials)/urdf/materials.xacro"/>
    <xacro:include filename="$(find xacro_inertia)/urdf/inertia_table.xacro"/>
    <link name="clamp_${prefix}">
        <visual>
            <geometry>
                <mesh filename="package://toggle_clamp/mesh/visual/clamp.stl"/>
            </geometry>
            <xacro:grey_steel/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://toggle_clamp/mesh/collision/clamp_collision.stl"/>
            </geometry>
        </collision>
        <inertial>
          <xacro:box_inertia m="0.6" x="0.05" y="0.15" z="0.05"/>
        </inertial>        
    </link>
    </xacro:macro>
</robot>