
<?xml version="1.0" ?>
<robot name="robot_description" version="1.0.0">
    <group name="groupe">
        <chain base_link="base_link" tip_link="tcp"/>
    </group>

    <group_tcps group="groupe">
        <tcp name="tcp" xyz="0 0 0" wxyz="1 0 0 0"/>
    </group_tcps>


    <!--Groups kinematic plugins -->
    <kinematics_plugin_config filename="$(arg path_to_kinematic_plugins)"/>

    <!--Contact Managers plugins -->
    <contact_managers_plugin_config filename="package://tesseract_support/urdf/contact_manager_plugins.yaml"/>

    <!-- <group_opw group="groupe" a1="0.155" a2="0.20000000000000001" b="0.45000000000000001" c1="0.45000000000000001" c2="0.61399999999999999" c3="0.64000000000000001" c4="0.10000000000000001" offsets="0.000000 0.000000 0.000000 0.000000 0.000000 0.000000" sign_corrections="1 1 1 1 1 1"/> -->
    <disable_collisions link1="link_4_r" link2="link_6_t" reason="Never"/>
    <disable_collisions link1="controleur" link2="link_3_u" reason="Never"/>
    <disable_collisions link1="link_1_s" link2="link_3_u" reason="Never"/>
    <disable_collisions link1="link_2_l" link2="link_4_r" reason="Never"/>
    <disable_collisions link1="link_1_s" link2="link_2_l" reason="Adjacent"/>
    <disable_collisions link1="base_link" link2="link_1_s" reason="Adjacent"/>
    <disable_collisions link1="link_2_l" link2="table" reason="Never"/>
    <disable_collisions link1="link_3_u" link2="link_6_t" reason="Never"/>
    <disable_collisions link1="link_2_l" link2="link_3_u" reason="Adjacent"/>
    <disable_collisions link1="link_4_r" link2="link_5_b" reason="Adjacent"/>
    <disable_collisions link1="link_5_b" link2="link_6_t" reason="Adjacent"/>
    <disable_collisions link1="link_3_u" link2="link_5_b" reason="Never"/>
    <disable_collisions link1="link_2_l" link2="link_5_b" reason="Never"/>
    <disable_collisions link1="link_1_s" link2="robot_base" reason="Never"/>
    <disable_collisions link1="base_link" link2="robot_base" reason="Never"/>
    <disable_collisions link1="link_2_l" link2="link_6_t" reason="Never"/>
    <disable_collisions link1="link_3_u" link2="link_4_r" reason="Never"/>

    
    <!--VIRTUAL JOINT: Purpose: this element defines a virtual joint between a robot link and an external frame of reference (considered fixed with respect to the robot)-->
    <!-- <virtual_joint name="FixedBase" type="fixed" parent_frame="world" child_link="base_link" /> -->



</robot>